<style>
.album-dialog-show .md-container {
    transform: inherit;
}
.ocx_style {
border: 1px solid #7F9DB9;
width: 212px;
height: 35px;
}
.ocx_style2 {
border: 1px solid #7F9DB9;
width: 200px;
height: 35px;
}

.no_ocx_style {
border: 1px solid #7F9DB9;
color: red;
display: block;
width: 212px;
height: 35px;
line-height: 30px;
text-decoration: underline;
}
</style>
<script language="javascript" src="/stock/js/common/PassGuardCtrl.js"></script>
<script>
try{
if(navigator.userAgent.indexOf("MSIE")<0){
			   navigator.plugins.refresh();
}}catch(e){}
</script>
#if($activex==2) 
<div>
    <div class="fundPassword fundPasswordObj" id="_fund_pwd_str_$!{random}" style="width: 259px;display:#if($passwordFlag.isFundPasswordRequired())  #else none #end" data-password="#if($passwordFlag.isFundPasswordRequired()) 1#else 0#end">
     </div>
      <i style="height: 15px;display: inline-block;">&nbsp;</i>
</div>
<div style="display:#if($passwordFlag.isBankPasswordRequired())  #else none #end">
    <div class="bankPassword bankPasswordObj" id="_bank_pwd_str_$!{random}" style="width: 259px;display:#if($passwordFlag.isBankPasswordRequired())  #else none #end" data-password="#if($passwordFlag.isBankPasswordRequired()) 1#else 0#end">
      </div>
       <i style="height: 15px;display: inline-block;">&nbsp;</i>
</div>
<div style="display:#if($passwordFlag.isPasswordRequired())  #else none #end"">
    <div class="tradePassword tradePasswordObj" id="_trade_pwd_str_$!{random}" style="width: 259px;display:#if($passwordFlag.isPasswordRequired())  #else none #end" data-password="#if($passwordFlag.isPasswordRequired()) 1#else 0#end" >
    </div>
    <i style="height: 15px;display: inline-block;">&nbsp;</i>
</div>
<script type="text/javascript">
#if($passwordFlag.isFundPasswordRequired())
var _fundpwd_$!{random} = new $.pge({
				pgePath: "/stock/ocx/",
				pgeId: "_fund_pwd_$!{random}",
				pgeEdittype: 0,
				pgeEreg1: "[0-9]*",
				pgeEreg2: "[0-9]*",		
				pgeMaxlength: 12,
				pgeTabindex: 2,
				pgeClass: "ocx_style2",
				pgeInstallClass: "no_ocx_style"
			});
			$("#_fund_pwd_str_$!{random}").html(_fundpwd_$!{random}.load());
			_fundpwd_$!{random}.pgInitialize();
#end
#if($passwordFlag.isBankPasswordRequired()) 
var _bankpwd_$!{random} = new $.pge({
				pgePath: "/stock/ocx/",
				pgeId: "_bank_pwd_$!{random}",
				pgeEdittype: 0,
				pgeEreg1: "[0-9]*",
				pgeEreg2: "[0-9]*",		
				pgeMaxlength: 12,
				pgeTabindex: 3,
				pgeClass: "ocx_style2",
				pgeInstallClass: "no_ocx_style"
			});
			$("#_bank_pwd_str_$!{random}").html(_bankpwd_$!{random}.load());
			_bankpwd_$!{random}.pgInitialize();
#end
#if($passwordFlag.isPasswordRequired())
var _tradepwd_$!{random} = new $.pge({
				pgePath: "/stock/ocx/",
				pgeId: "_trade_pwd_$!{random}",
				pgeEdittype: 0,
				pgeEreg1: "[0-9]*",
				pgeEreg2: "[0-9]*",		
				pgeMaxlength: 12,
				pgeTabindex: 4,
				pgeClass: "ocx_style2",
				pgeInstallClass: "no_ocx_style"
			});
			$("#_trade_pwd_str_$!{random}").html(_tradepwd_$!{random}.load());
			_tradepwd_$!{random}.pgInitialize();
#end
</script>
#else

<div class="ZQT_password_AX" id="_zqt_pwd_str_$!{random}"></div>
<script type="text/javascript">
			var _zqtpwd_$!{random} = new $.pge({
				pgePath: "/stock/ocx/",
				pgeId: "_zqt_pwd_$!{random}",
				pgeEdittype: 0,
				pgeEreg1: ".*",
				pgeEreg2: ".*",
				pgeMaxlength: 12,//允许最大输入长度
				pgeTabindex: 2,
				pgeClass: "ocx_style",
				pgeInstallClass: "no_ocx_style"
			});
			$("#_zqt_pwd_str_$!{random}").html(_zqtpwd_$!{random}.load());
			_zqtpwd_$!{random}.pgInitialize();
</script>
#if($!{txpwd}==1)
<i style="height: 15px;display: inline-block;">&nbsp;</i>
<div class="ZQT_password_AX txPassword txPasswordObj" id="_zqt_txpwd_str_$!{random}" data-password="1"></div>
<script type="text/javascript">
			var _zqttxpwd_$!{random} = new $.pge({
				pgePath: "/stock/ocx/",
				pgeId: "_zqt_txpwd_$!{random}",
				pgeEdittype: 0,
				pgeEreg1: ".*",
				pgeEreg2: ".*",
				pgeMaxlength: 12,
				pgeTabindex: 2,
				pgeClass: "ocx_style",
				pgeInstallClass: "no_ocx_style"
			});
			$("#_zqt_txpwd_str_$!{random}").html(_zqttxpwd_$!{random}.load());
			_zqttxpwd_$!{random}.pgInitialize();
</script>
#end
#end