<iframe id="ZQT_password_iframe" class="ZQT_password_iframe" name="ZQT_iframe_${random}" scrolling="no" frameborder="0"  ></iframe>
<form action="$!{url}" method="post" id="ZQT_from_${random}" target="ZQT_iframe_${random}">
 #foreach($param in ${params.keySet()})
  <input type="hidden" name="$param" value="${params.get($param)}"/>
  #end
 </form>
<script>
$(function(){$('#ZQT_from_$!{random}').submit();});
</script>