#set($layout="layout/stock_noasset_layout.vm")
#set($title="我的证券通账户页")
#set($breadCrumb ="初始化券商交易密码")
<form action="/stock/hk/$!{accountId}/hkLogin.jspa" method="post">
<div class="password-wrap">
    <h1 class="title">为了您的账户安全，请重新输入交易密码</h1>
    <p class="mt30 tc" id="p_initPwd"><input type="password" id="password" name="password" class="txtbox"/></p>
    <p class="error-msg tc" id="errmsg" #if(!$msg)style="display:none"#end>$!{msg}</p>
    <input name="returnUrl" type="hidden" value="$!{returnUrl}" id="input_returnUrl" />
    <p class="tc mt30"><input class="btn btn-123-40" type="submit" value="确定" /></p>
</div>
#token()
</form>
#define($privatejs)
<script>
$('#password').focus();
</script>
#end