#set($layout="layout/stock_layout.vm")
#set($title="股票买入")
#set($breadCrumb ="股票买入")
#set($option_nav="buy")
#parse("/common/option-nav.vm")
<div class="trade-block clearfix" style="padding-top:30px;position:relative">
<div class="error-msg-bar-wrap">
    <div class="error-msg-bar middle" style="display:none;">
        <i class="icon icon-error-2"></i>
        <span></span>
    </div>
    <div class="error-msg-bar-wrap-right middle" style="display:none;">
        <i class="icon icon-right-2"></i>
        <span class="text">
        <span></span>
        <a href="javascript:;" class="link"></a>
        </span>
        <em onclick="clearSuccessMsg();"></em>
    </div>
</div>
    <div class="col-1">
    <form action="#C/stock/$!{accountId}/buyStep2.jspa" id="buyCheckForm" method="post">#token()
        <table>
            <tr>
                <td class="field" style="width:60px;"><span>买入证券</span></td>
                <td>
	                <input type="text" id="stockCode_show" value="$!{stockCode}" class="txtbox inp-txt" style="width:140px;" />
                	<input type="hidden" name="stockCode" id="stockCode" value="$!{stockCode}" />
                    <input type="hidden" name="marketType" id="marketType" value="$!{marketType}"/>
                    <input type="hidden" name="stockType" id="stockType" value="$!{stockType}"/>
                    <div class="error-msg"></div>
                </td>
            </tr>
            <tr>
                <td class="field">买入价格</td>
                <td>
                    <div class="txtbox txtbox-up-down txtbox-up-down-155 fl">
                        <span class="fr">
                            <i class="down"></i>
                            <i class="up"></i>
                        </span>
                        <input type="text" name="entrustPrice" id="price" class="txtbox inp-txt price" value="0.00" onpaste="return false" oncopy="return false" oncut="return false" />
                    </div>
                    <span class="unit fl">元</span>
                    <div class="error-msg"></div>
                </td>
            </tr>
            <tr>
                <td class="field" style="vertical-align:top">最大可买</td>
                <td>
                    <div class="clearfix">
                        <input id="canBuy" data="0" type="text" class="txtbox fl" style="width:140px;" disabled />
                        <span class="unit fl">股</span>
                    </div>
                    <ul class="custom-checkbox custom-checkbox-55-25 clearfix mt10">
                        <li id="cost_four" data-quart="4">1/4</li>
                        <li id="cost_three" data-quart="3">1/3</li>
                        <li id="cost_two" data-quart="2">1/2</li>
                        <li id="cost_all" data-quart="1">全部</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="field">买入数量</td>
                <td>
                    <div class="txtbox txtbox-up-down txtbox-up-down-155 fl">
                        <span class="fr">
                            <i class="down"></i>
                            <i class="up"></i>
                        </span>
                        <input type="text" name="entrustAmount" id="entrustAmount" class="txtbox inp-txt" maxlength="9"onpaste="return false" oncopy="return false" oncut="return false" autocomplete="off" />
                    </div>
                    <span class="unit fl">股</span>
                    <div class="error-msg"></div>
                </td>
            </tr>
        </table>
        </form>
        <div class="tc">
            <a id="btnSubmit" href="javascript:;" class="btn btn-123-40 mt30">委托买入</a>
        </div>
    </div>
    #parse("/cms/stockHq.vm")
</div>
#define( $privatejs )
<script src="#C/stock/js/common/JRJPassword.v2.js"></script>
<script type="text/javascript" src="#C/stock/js/trade/trade_pwd.js"></script>
<script type="text/javascript" src="#C/stock/js/trade/tradeCommon.js"></script>
<script src="#C/stock/js/trade/doCancelAjax.js"></script>
<script type="text/javascript" src="#C/stock/js/trade/buyCheck.js"></script>
<script type="text/javascript" src="#C/stock/js/util/swfobject-2.2.js"></script>

<script type="text/javascript" src="#C/stock/js/util/HqTiming.js"></script>
<script type="text/javascript" src="#C/stock/js/trade/stockHq.js"></script>
<script>
$(function(){
	$('.custom-checkbox li').tooltipster({
		theme: 'tooltipster-light'
	});
	var stock_last="代码/简称/拼音";
	var _stockCode = $("#stockCode").val();
	
	if(_stockCode !="代码/简称/拼音" && _stockCode != ""){
	    initType(initcall_back);
	}else{
		XJB.HQ.searchBox("stockCode_show",null,hq_call_back,true);
		XJB.HQ.hqFlash("","flash_div_sf","215","140");
	}
});
function initcall_back(stockCode){
        XJB.HQ.hqFlash(stockCode,"flash_div_sf","215","140",$("#stockType").val());
		XJB.HQ.showHq(stockCode,$("#stockType").val(),function(mainQuote){
	    highLightPrice($("#price").val());
	});
		if(($("#stockType").val().indexOf("f")!=-1)||($("#stockType").val().indexOf("r")!=-1)){
	     changepricelimit(0.001,3);
	     }else{
	     changepricelimit(0.01,2);
	     }
}
function hq_call_back(stock){
		XJB.HQ.hqFlash(stock.code,"flash_div_sf","215","140",stock.type);
		XJB.HQ.showHq(stock.code,stock.type,function(mainQuote){
		highLightPrice($("#price").val());
		});
	$("#stockCode_show").val(stock.code+ '  ' + stock.name);
	$("#stockCode").val(stock.code);
	$("#marketType").val(stock.mrkt);
	$("#stockType").val(stock.type);
	var scode = $("#stockCode").val();
	if(scode=="代码/简称/拼音" || scode ==""){
		return;
	}
	if( scode !="代码/简称/拼音" && !(isNaN(scode)) && scode.bLength()<7 ){ 
		stockCheck();
	}else{
		showError('stockCode','请输入正确股票代码或简称');
		clearInfo();
		isCheck=false;
		return;
	}
	if(stock.type.indexOf("f")!=-1){
	changepricelimit(0.001,3);
	}else{
	changepricelimit(0.01,2);
	}
}
function showMsg(data){
	if(data.errMsg != ''){
		showGloableError(data.errMsg);
		return;
	}
	showSuccessMsg('提交成功！');
	clearInfo();
	//console.log(data);
}
function submitCallBack(data){
	if(typeof data.errMsg != 'undefined'){
		showGlobalError(data.errMsg);
		return;
	}
/* #if($qsFlag == "ZSZQ")*/
	var url = data.url;
	var params = data.params;
	for(key in params){
		url = urlAppend(url,key + '=' + encodeURIComponent(params[key]));
	}
	JRJ.Dialogs.iframeDialog({
		width: 350,
		hasOkBtn: false,
		title: '买入确认',
		titleRight:'',
		ifrReHeight:false,
		ifrHeight:300,
		ifrScroll:'no',
		hasBtn:false,
		hasCancelBtn: false,
		enableKeyCtrl: true,
		ifrSrc: url
   });
/* #else*/
	//确认买入
	var TRADlg = jQuery.extend(true,{}, JRJ.Dialogs);
	TRADlg.standardDialog({
		title: "确认买入",
		width:350,
		content: ['<div class="dialog-cnt">',
						'<table class="table-p5">',
							'<tr>',
								'<td style="width:70px;">委托股票</td>',
								'<td>' + data.stockName + '(' + data.stockCode + ')</td>',
							'</tr>',
							'<tr>',
								'<td>委托价格</td>',
								'<td>' + data.entrustPrice + '元/股</td>',
							'</tr>',
							'<tr>',
								'<td>委托数量</td>',
								'<td>' + data.entrustAmount + '股</td>',
							'</tr>',
							'<tr>',
								'<td class="field">交易密码</td>',
								'<td>',
								'<div id="td_tradePWD"></div>',
								'<div class="error-msg"></div>',
								'</td>',
							'</tr>',
						'</table>',
				  '</div>'].join(''),
		okBtnText: "确认",
		cancelBtnText: "取消",
		hasCloseBtn: true,
		hasOkBtn: true,
		hasCancelBtn: true,
		okCallback: okCallBack,
		cancelCallback: function () { 
			if(tradePWD!=null){
				tradePWD.destory();
			}
		},
		isFixed: true
	});
	//dialog------------------------------------------------
	var tradePWD = new JRJZQTPassword('#td_tradePWD',_accountId,JRJZQTPassword.Action.TRADE);
	var posting=false;
	function okCallBack(){
		tradePWD.check(function(data){
			if(data==0){
				if(posting)return;
				posting=true;
				$.ajax({
					url : '/stock/'+_accountId+'/ajaxBuyStep3.jspa',
					data : {
					password: this.value(),
					type:this.type, 
					userMac: this.mac(),
					"xjb.token.name":getTokenName(),
					"xjb.token":getToken(),
					"local_network":this._mac,
					"local_disk":this._disk,
					"local_cpu":this._nic
					},
					type : 'post',
					dataType : 'json',
					timeout : 5000,
					cache : false,
					async:false,
					success : function(data){
						posting=false;
						resetToken(data.token);
						if(typeof data.mutiple_request_error != 'undefined'){
							window.location.reload();
						}else if(typeof data.result != 'undefined'){
							//showSuccessMsg('提交成功');
							showSuccessMsg('提交成功，合同号：'+data.result.entrustNo,'快速撤单',confirmCancel,{stockCode:data.stockCode,stockName:data.stockName,direction:'买入',price:data.entrustPrice,amount:data.entrustAmont,entrustNo:data.result.entrustNo});
							clearInfo();
							if(tradePWD!=null){
								tradePWD.destory();
							}
						}else if("-406"==data.errCode){
							showTradePwdDlg(_accountId,okCallBack);
							return;
						}else{
							//showGlobalError(data.errMsg);
							showError('td_tradePWD',data.errMsg);
							return;
						}
						TRADlg.close();
					}
				});		
			}else if(data == -100){
				showError('td_tradePWD','密码不能为空');
				//JRJ.Dialogs.close();
			}else if(data == -99){
				showError('td_tradePWD','为了您的交易安全，请在IE下安装安全控件');
			}else{
				showError('td_tradePWD','您输入的密码有误');
			}
		});
		return true;
	}
/* #end*/
}

</script>

#end
