#set($layout="layout/stock_layout.vm")
#set($title="历史成交查询")
#set($breadCrumb ="交易查询")
<div class="block">
    <div class="block-title middle">
        <span>
            <span>交易查询</span>
            <a class="tooltip">
                <i class="block-title-info png_bg"></i>
                <span class="tooltip-content" style="left: 112px; top: 9px; display: none;"><i class="tooltip-arrow"></i>了解您的历史成交状况</span>
            </a>
        </span>
    </div>
    <div class="stock-buy">
         <div class="tab-wrap">
            <a href="#C/stock/entrust.jspa"><span><em></em>当日委托</span></a>
            <a href="#C/stock/business.jspa"><span><em></em>当日成交</span></a>
            <a href="javascript:;"><span class="tab-cur"><em></em>历史成交</span></a>
            <a href="#C/stock/fund.jspa"><span><em></em>交割单</span></a>
        </div>
        <div class="clear"></div>
        <div class="search-date pl10">
            <span class="time-txt">日期</span>
            <span class="date-inp"><input type="text" name="" id="beginTime" class="buy-int"><i id="date-list-s" class="date-list"></i></span>
            <span class="time-txt">至</span>
            <span class="date-inp"><input type="text" name="" id="endTime" class="buy-int"><i id="date-list-e" class="date-list"></i></span>
            <em></em>
            <input type="button" value="" class="search-buy-btn" id="search-hbusiness">
        </div>
		<div id="nextContent">
        <table class="table-list buy-line">
			#if($errMsg)
            	<input type="hidden" value="0" id="countsize"/>
				<input type="hidden" value="1" id="pageNum"/>
            	<tbody>
            		<tr style="text-align:center;color:red">
            			<td>错误提示：$!{errMsg}</td>
            		</tr>
                </tbody>		
            #else
			<input type="hidden" value="$queryList.size()" id="countsize"/>
			<input type="hidden" value="1" id="pageNum"/>
            <thead>
                <tr>
                    <th class="time">成交日期</th>
                    <th>股票代码</th>
                    <th>股票名称</th>
                    <th>买卖方向</th>
					<th>成交数量</th>
                    <th>成交价格</th>                   
                    <th>成交金额</th>
                    <th>业务状态 </th>
                </tr>
            </thead>
            <tbody>
                #if($queryList.size()>0)
					#foreach($business in $queryList)
						<tr>
                            <td>$!{business.initDate}</td>
                            <td>$!{business.stockCode}</td>
                            <td>$!{business.stockName}</td>
                            <td>$!{business.entrustBs.getName()}</td>
							<td>$!{business.occurAmount}</td>
                            <td>$!{business.businessPrice}</td>
                            <td>$!{business.businessBalance}</td>
							<td>$!{business.businessStatus.getName()}</td>
						</tr>
					#end
					#else
					<tr style="text-align:center;">
						<td colspan="8">您最近一周没有交易记录</td>
                     </tr>	
				  #end
                          
            </tbody>
			#end
        </table>
        </div>
    </div>
</div>
<div class="mt30 jrj-tc">
    <a class="btn-pager #if($pageNum ==1) btn-pager-disable#end"  id="prev" title="#if($pageNum ==1)第一页 #else上一页#end">上一页</a>
    <a class="btn-pager ml10 #if($queryList.size() <15) btn-pager-disable#end" id="next" title="#if($queryList.size() <15)最后一页 #else下一页#end">下一页</a>
</div>	
	
#define( $privatejs )
	<link href="#C/stock/css/trade/calendar.css" rel="stylesheet" />
	<script src="#C/stock/js/trade/calendar-min.2.1.js"></script>
	<script src="#C/stock/js/trade/getHBusinessAjax.js"></script>
	<script type="text/javascript" src="#C/stock/js/common/common.date.js"></script>
#end