<script>var online= new Array();</script>
<script type="text/javascript" src="#C/stock/js/global.js"></script>
<script charset="utf-8" src="#C/stock/js/copyright-min.js"></script>
<script type="text/javascript" src="#C/stock/js/util/sdcs_dcs_tag-min.js"></script>
