<!--site-top-->
<link href="#C/stock/css/common2015.css" rel="stylesheet" />
<script src="#C/stock/js/login/login-utf8.new.js"></script>
<script src="#C/stock/js/login/sso-utf8.new.js"></script>
<script src="#C/stock/js/login/head_top_fous.js"></script>
<!--site-top-->