#if($errMsg)
<input type="hidden" value="0" id="countsize"/>
<input type="hidden" value="1" id="pageNum"/>
<table class="table-general table-general-p3">
	<tbody>
		<tr>
			<td class="tc red last">错误提示：$!{errMsg}</td>
		</tr>
    </tbody>		
    </table>
#else
<input type="hidden" value="$!{queryList.size()}" id="countsize"/>
<input type="hidden" value="$!{pageNum}" id="pageNum"/>
<input type="hidden" value="$!{accountId}" id="accountId"/>
<table class="table-general table-general-p3">
    <thead>
        <tr>
           	<th class="tc">合同号</th>
         	<th class="tc" style="width:110px;">委托时间</th>
            <th class="tc">代码</th>
            <th class="tc" style="width:50px;">名称</th>
            <th class="tc">方向</th>
            <th class="tr">委托价格</th>
            <th class="tr">委托数量</th>
            <th class="tr">可撤数量</th>
            <th class="tr">成交价格</th>
            <th class="tr">成交数量</th>
            <th class="tr">状态说明</th>
            <th class="tc last">操作</th>
        </tr>
    </thead>
    <tbody>
    #if($queryList.size()>0)
		#foreach($vo in $queryList)
		#set($canCancelCount = $vo.entrustAmount - $vo.businessAmount)
        #if($velocityCount % 2 == 0)
        <tr class="alt">
        #else
        <tr>
        #end
            <td class="tc">$!{vo.entrustNo}</td>
         	<td class="tc">$!{stockUtils.longDate2StringMD("$vo.entrustDate")} $!{stockUtils.longTime2String("$vo.entrustTime")}</td>
			#if($fund.stockType=='3')
            <td class="tc"><a href="http://fund.jrj.com.cn/archives,$!{vo.stockCode}.shtml" target="_blank" class="link">$!{vo.stockCode}</a></td>
            <td class="tc"><a href="http://fund.jrj.com.cn/archives,$!{vo.stockCode}.shtml" target="_blank" class="link">$!{vo.stockName}</a></td>
            #else
			<td class="tc"><a href="http://stock.jrj.com.cn/share,$!{vo.stockCode}.shtml" target="_blank" class="link">$!{vo.stockCode}</a></td>
            <td class="tc"><a href="http://stock.jrj.com.cn/share,$!{vo.stockCode}.shtml" target="_blank" class="link">$!{vo.stockName}</a></td>	
			#end	
			<td class="tc #if($vo.entrustBs.value ==1) red #else green #end">$!{vo.entrustBs.name}</td>
            <td class="tr">$!{numberTool.format("0.000",$vo.entrustPrice)}</td>
            <td class="tr">$!{numberTool.format("#",$vo.entrustAmount)}</td>
            <td class="tr">$!{numberTool.format("#",$canCancelCount)}</td>
            <td class="tr">#if($vo.businessPrice)$!{numberTool.format("0.000",$vo.businessPrice)}#else -- #end</td>
            <td class="tr">$!{numberTool.format("#",$vo.businessAmount)}</td>
            <td class="tr">$!{vo.entrustStatus.getName()}</td>
            <td class="tc last" style="border-right: 0;">
        	#if($vo.entrustStatus.value ==0 ||$vo.entrustStatus.value ==2 ||$vo.entrustStatus.value ==7)
			<a onclick="confirmCancel({stockCode:'$!{vo.stockCode}',stockName:'$!{vo.stockName}',direction:'$!{vo.entrustBs.name}',price:'$!{numberTool.format("0.00",$vo.entrustPrice)}',amount:'$!{numberTool.format("#",$vo.entrustAmount)}',entrustNo:'$!{vo.entrustNo}',stype:$!{vo.stockType}})" class="link">撤单</a>
			#else
				--
			#end
           </td>
        </tr>
        #end
        #else
        <tr>
		  <td colspan="12" class="tc middle last">
          <div class="mt20">
                <img src="/stock/images/icon-alert.png"><span class="ml10 f16" style="font-weight:bold;">您在当前时段没有任何撤单记录</span>
           </div>
          </td>
     	</tr>
        #end
    </tbody>
   </table>
#end
