<input type="hidden" value="$!{queryList.size()}" id="countsize"/>
<input type="hidden" value="$!{pageNum}" id="pageNum"/>
<input type="hidden" value="$!{selecttype}" id="selectT"/>
<input type="hidden" value="$!{startDate}" id="sData"/>
<input type="hidden" value="$!{endDate}" id="eData"/>
<input type="hidden" value="$!{accountId}" id="accountId"/>
<table class="table-general table-general-p3">
#if($errMsg)
	<tbody>
		<tr>
			<td class="tc red last">错误提示：$!{errMsg}</td>
		</tr>
    </tbody>		
#else
 <thead>
        <tr>
            <th class="tc" style="width:45px;">合同号</th>
            <th class="tc" style="width:75px;">委托时间</th>
            <th class="tc">证券代码</th>
            <th class="tc">证券简称</th>
            <th class="tc" style="width:30px;">方向</th>
            <th class="tr">委托数量</th>
            <th class="tr">委托价格</th>
            <th class="tr">成交数量</th>
            <th class="tc">委托状态</th>
            <th class="last" style="width:30px;">操作</th>
        </tr>
    </thead>
    <tbody>
    #if($queryList.size() >0)
	#foreach($entruts in $queryList)
    #if($velocityCount % 2 == 0)
        <tr class="alt">
        #else
        <tr>
        #end
            <td class="tc">
             #if($entruts.orderNo == 0) 
           	 --
            #else
             $!{entruts.orderNo}
            #end
            </td>
            <td class="tc"> #if($selecttype =="today") $!{dateUtils.format($entruts.orderSubmitDatetime,"HH:mm:ss")} #else $!{dateUtils.format($entruts.orderSubmitDatetime,"yyyy-MM-dd")} #end</td>
            <td class="tc"><a href="http://hk.jrj.com.cn/share/$!{entruts.instrumentNo}/index.shtml" target="_blank" class="link">$!{entruts.instrumentNo}</a></td>
            <td class="tc"><a href="http://hk.jrj.com.cn/share/$!{entruts.instrumentNo}/index.shtml" target="_blank" class="link">$!{entruts.instrumentName}</a></td>
            <td class="tc #if($entruts.bidAskType.value =="B") red #else green #end">$!{entruts.bidAskType.name}</td>
            <td class="tr">$!{entruts.quantity}</td>
            <td class="tr">$!{numberTool.format("0.00",$entruts.price)}</td>
            <td class="tr">$!{entruts.executedQuantity}</td>
            <td class="tc">$!{entruts.orderStatus.name}</td>
	        <td class="last tc">
	        #if($entruts.orderStatus=="CA" || $entruts.orderStatus=="EJ" || $entruts.orderStatus=="FF" || $entruts.orderStatus=="EX")
				撤单	
				#else
		    <a onclick="confirmCancel({stockCode:'$!{entruts.instrumentNo}',stockName:'$!{entruts.instrumentName}',direction:'$!{entruts.bidAskType.name}',price:'$!{entruts.price}',amount:'$!{entruts.quantity.subtract($entruts.executedQuantity)}',entrustNo:'$!{entruts.orderNo}'})" class="link">撤单</a>
	        #end
	        </td>
        </tr>
     #end
     #else
		<tr>
            <td colspan="10" class="tc middle last">
            <div class="mt20">
                <img src="#C/stock/images/icon-alert.png"> <span class="ml10 f16" style="font-weight:bold;">您在当前时段没有任何委托记录</span>
            </div>
            </td>
        </tr>
	 #end
    </tbody>
#end
</table>